body {
    background-image: url('https://dataclick.com.br/assets/img/bg_campo.jpg');
}
@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

/* Sidebar */
.sidebar {
position: fixed;
top: 0;
bottom: 0;
left: 0;
padding: 58px 0 0;
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
width: 240px;
z-index: 600;
}

@media (max-width: 991.98px) {
.sidebar {
    width: 100%;
}
}
.sidebar .active {
border-radius: 5px;
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
background-color: rgb(5, 134, 84) !important;
border-color: rgb(5, 134, 84) !important;
}

.sidebar-sticky {
position: relative;
top: 0;
height: calc(100vh - 48px);
padding-top: 0.5rem;
overflow-x: hidden;
overflow-y: auto;
}

/* Home Cards */
#home .card {
    width: 27rem;
}
#home .card img {
    width: 100%;
    height:75%;
}

/* Tables */
table tr {
    line-height: 3em;
}

table tr .clube_icon {
    width: 50px;
    height: 100%;
}

table tr .clube_coutryFlag {
    width: 25px;
    height: 25px;
}

.container .form-box {
    width: 100%;
}
.container .form-box .form-box-head {
    width: 100%;
}

.container #detalhes {
    min-height: 50vh;
}

.container #detalhes #info {
    height: 100%;
    width: 25%
}

.container #detalhes #clubes {
    height: 100%;
    width: 70%
}

.container #detalhes #clubes img {
    width: 50px;
    height: 100%;
    margin-right: .5em;
}

.container #detalhes #clubes .list-group .btn-faturas {
    margin-left: .5em
}

.container #detalhes #clubes .list-group #lastClubRow {
    line-height: 2.4rem
}

.container #detalhes #clubes .list-group #joinClubForm select {
    margin-right: .5em
}

/* Modal */
#faturasModal .modal-header img {
    margin-left: 1.5em;
    width: 50px;
    height: 100%;
}

#faturasModal .modal-body span {
    font-size: 13px;
}

#faturasModal .modal-body button {
    margin-left: .5em
}
